* {
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.notes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.create-btn {
  background: linear-gradient(45deg, red, black);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  border: none;
  font-weight: 900;
  color: white;
}
.card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgb(102, 102, 38);

  &__form {
    display: flex;
    flex-direction: row;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
